<!-- <h1>CoachingController#answer</h1>
<p>Find me in app/views/coaching_controller/answer.html.erb</p> -->

<p>-You</p>
<h2><%= @query %></h2>

<p>-Your Coach</p>
<h2><%= @answer %></h2>

<%= link_to "Ask a new question", ask_path %>
