<!-- <h1>CoachingController#ask</h1>
<p>Find me in app/views/coaching_controller/ask.html.erb</p> -->

<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="Insert your question here">
  <input type="submit" value="Go on!">
</form>