<!-- <h1>CoachingController#ask</h1>
<p>Find me in app/views/coaching_controller/ask.html.erb</p> -->

<div class = "wrapper padded">
	<div class = "container">
		<div class = "row">
		<div class="col-sm-offset-4 col-sm-4">
			<form action="/answer">
			  <label for="question">Speak to your coach</label><br>
			  <input type="text" id="question" name="query" placeholder="Insert your question here"><br>
			  <input type="submit" value="Go on!" class='btn btn-primary'>
			</form>
		</div>
		<div>
	</div>
</div>